<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSHumanReadableCopyright</key>
	<string>$(PRODUCT_COPYRIGHT)</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>netnatscan scans your local network to list connected devices.</string>
	<key>NSLocationUsageDescription</key>
	<string>macOS protects the Wi-Fi name (SSID) and BSSID as location data; netnatscan uses your location only to display them on the Connection tab.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>macOS protects the Wi-Fi name (SSID) and BSSID as location data; netnatscan uses your location only to display them on the Connection tab.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_companion-link._tcp</string>
		<string>_airplay._tcp</string>
		<string>_raop._tcp</string>
		<string>_hap._tcp</string>
		<string>_homekit._tcp</string>
		<string>_ipp._tcp</string>
		<string>_ipps._tcp</string>
		<string>_printer._tcp</string>
		<string>_pdl-datastream._tcp</string>
		<string>_googlecast._tcp</string>
		<string>_sonos._tcp</string>
		<string>_spotify-connect._tcp</string>
		<string>_smb._tcp</string>
		<string>_afpovertcp._tcp</string>
		<string>_device-info._tcp</string>
		<string>_workstation._tcp</string>
		<string>_ssh._tcp</string>
		<string>_sleep-proxy._udp</string>
		<string>_matter._tcp</string>
		<string>_esphome._tcp</string>
		<string>_nvstream_dbd._tcp</string>
		<string>_adisk._tcp</string>
	</array>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
